[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "yazi/flavors/ayu-dark.yazi"]
	path = yazi/flavors/ayu-dark.yazi
	url = https://github.com/kmlupreti/ayu-dark.yazi.git
[submodule "yazi/flavors/kanagawa-dragon.yazi"]
	path = yazi/flavors/kanagawa-dragon.yazi
	url = https://github.com/marcosvnmelo/kanagawa-dragon.yazi.git
[submodule "yazi/flavors/gruvbox-dark.yazi"]
	path = yazi/flavors/gruvbox-dark.yazi
	url = https://github.com/bennyyip/gruvbox-dark.yazi.git
[submodule "yazi/flavors/rose-pine-moon.yazi"]
	path = yazi/flavors/rose-pine-moon.yazi
	url = https://github.com/Mintass/rose-pine-moon.yazi.git
[submodule "yazi/flavors/rose-pine.yazi"]
	path = yazi/flavors/rose-pine.yazi
	url = https://github.com/stephanbrez/rose-pine.yazi.git
[submodule "yazi/flavors/tokyo-night-moon.yazi"]
	path = yazi/flavors/tokyo-night-moon.yazi
	url = https://github.com/whispcat/tokyo-night-moon.yazi.git
